server {
    listen       81;
    root         /app/tests/Fixtures/Integration/Nginx;

    location / {
    }

    location /404 {
        return 404;
    }

    location /429 {
        add_header 'Retry-After' '30' always;

        return 429;
    }

    location ~ /429/(?<retry_after>[0-9]+) {
        add_header 'Retry-After' '$retry_after' always;

        return 429;
    }

    location /500 {
        return 500;
    }

    location /503 {
        return 503;
    }
}
